<div class="conetainer">
	<div class="pado-card card">
		<img [src]="imageUrl" alt="pado">
		<h3>{{title}}</h3>
    <p class="preco">{p}}</p>
	</div>
</div>

<!-- <p>card works!</p> -->
<!-- <div class="ui secondary  menu cabecalho">
  <a class="active item">
    Home
  </a>
  <a class="item">
    Product
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input (change)="setTitle($event)" type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Logout
    </a>
  </div>
</div>

<div>
  <p class="pesquisa">{{getTitle()}}</p>
</div> -->
